/* ================= PAGE RULES ================== */
body {
    background-color: rgb(55, 84, 182);
}
#body {
    width: 94%;
    margin: 0 auto; 
}
#pageHeader {
    text-align: center;
    color: white;
}
.section {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 7px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
}
.clearfix {
    overflow: auto;
  }

.sectionHeader {
    text-align: center;
    text-decoration: underline;
}
.description {
    text-align: justify;
    width: 94%;
    margin: 0 auto;
}
.container {
    width: 94%;
    margin: 0 auto;
}
#apiCall {
    border: 1px solid black;
    border-radius: 5px;
    background-color: black;
    color: white;
    display: none;
}
.arrow {
    border: solid white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 5px
  }  
.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
} 
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.codeSection {
    background-color: black;
    border-radius: 5px;
    color: white;
}
#productsCode { 
    display: none;
}
#datesCode { 
    display: none;
}
#cartCode { 
    display: none;
}
#customerCode { 
    display: none;
}
#createOrderCode {
    display: none;
}
#orderCode { 
    display: none;
}
.getCodeButton {
    display: block;
    margin: 0 auto;
    margin-top: 15px; 
    margin-bottom: 15px;
}
.doubleButton {
    display: inline-block;
    margin-left: 22%;
    margin-top: 15px; 
    margin-bottom: 15px;
}
.button {
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #467cbd;
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px #999;
}
.button:hover {
    background-color: #0a66a3;
}

.button:active {
    background-color: #467cbd;
    box-shadow: 0 2px #999;
    transform: translateY(2px);
}
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
  }
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
    box-shadow: 0 0 1px rgba(255,255,255,.5);
  }
.contentBox {
    border: 1px solid rgb(150, 150, 150);
    border-radius: 5px;
    background-color: rgb(230 243 253);
}
/* ============ JWT TOKEN STYLES ============== */
#userDetails {
    width: 20%;
    margin-top: 20px;
    margin-bottom: 15px;
    text-align: center;
    padding-top: 20px;
    height: 220px;
    display: inline-block;
    vertical-align: middle;
}
#username {
    width: 70%;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    background-color: white;
    transition: background-color 5000s;
}
#key {
    width: 70%;
}
#submitToken {
    margin-bottom: 20px;
}
#result {
    width: 73%;
    padding: 10px;
    overflow: auto;
    height: 220px;
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 4%;
    display: inline-block;
    vertical-align: middle;
}
#jwtToken {
    width: 100%;
    word-wrap: break-word;
}
#tokenHeader {
    text-align: center;
    text-decoration: underline;
    margin-top: 10px;
    margin-bottom: 10px;
}

#tokenCode { 
    display: none;
}

/* ============ SHOW PRODUCTS ============== */
#productsContainer {
    min-height: 200px;
    padding-bottom: 20px;
}
.product {
    border: 1px solid rgb(150, 150, 150);
    border-radius: 5px;
    background-color: white;
    margin: 20px 0 0 2.25%;
    width:  19%;
    height: 330px;
    display: inline-block;
    text-align: center;
    padding: 10px 20px;
    vertical-align: middle;
}

.product:hover {
    cursor: alias;
}
.productName {
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: sans-serif;
    font-weight: bold;
    color: #403333;
    font-size: 1.1em;
    overflow: hidden;
}
.productImg {
    margin: 0 auto;
    padding: 5px;
    width: 80%;
    height: 150px;
}
.overview  {
    margin: 0 auto;
    text-align: left;
    margin-top: 5px;
    width: 80%;
}

/* ============ SHOW PRODUCTS ============== */
#selectedProduct {
    min-height: 200px;
    padding-bottom: 20px;
}
#timeAndPartContainer {
    border: 1px solid rgb(150, 150, 150);
    border-radius: 5px;
    background-color: white;
    margin: 20px 0 0 2.25%;
    width:  27%;
    height: 330px;
    display: inline-block;
    text-align: center;
    padding: 10px 20px;
    vertical-align: middle;
}
#availTimesContainer {
    border: 1px solid rgb(150, 150, 150);
    border-radius: 5px;
    background-color: white;
    margin: 20px 0 0 2.25%;
    width:  34%;
    height: 330px;
    display: inline-block;
    text-align: center;
    padding: 10px 20px;
    vertical-align: middle;
    overflow: auto;
}
.headerText {
    font-size: 18px;
    font-weight: bold;
    font-family: sans-serif;
}
.availableStartDates {
    padding-bottom: 15px;
    
}
.startDateRow {
    height: 35px;
    border: 1px solid rgb(150, 150, 150);
    border-radius: 15px;
    margin: 0 auto;
    margin-bottom: 15px;
    width: 100%;
}
.startDateRow:hover {
    cursor: pointer;
    box-shadow: 2px 3px rgb(25, 101, 187)
}
.date {
    display: inline-block;
    font-family: sans-serif;
    width: 32%;
    font-size: 14px;
    padding-top: 8px;
    font-weight: bold;
}
.pricePerGuest {
    width: 28%;
    background-color:  rgba(33, 241, 50, 0.774);
    font-weight: bold;
    border-left: 1px solid rgb(150, 150, 150);
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    padding-top: 7px;
    height: 28px;
    float: right;
    font-family: sans-serif;
}

/* ============ REVIEW CART ============== */
#reviewCart {
    min-height: 200px;
    margin-top: 20px;
}


/* ============ COLLECT CUSTOMER DATA ============== */
#cartContainer {
    padding-bottom: 20px;
    width: 60%;
    margin: 0 auto;
    /*border-bottom: 1px solid rgb(150, 150, 150);*/
}
#cartImg {
    display: inline-block;
    margin-top: 50px;
    height: 250px;
    max-width: 50%
}
#cartInfo {
    display: inline-block;
    vertical-align: top;
    margin-left: 30px;
    margin-top: 25px;
    max-width: 45%;
}
#productName {
    font-family: sans-serif;
    text-decoration: underline;
    font-size: 26px;
}
#participants {
    margin-top: -15px;
    font-family: sans-serif;
    font-size: 15px;
}
.fromto {
    font-size: 20px; 
    font-family: sans-serif;

}
#total {
    font-size: 20px; 
    font-weight: bold;
    font-family: sans-serif;
    margin-top: 70px;
}
#collectCustomerData {
    width: 60%;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 20px;
}
/* #customerDetails { 

} */
.input { 
    width: 95%;
    height: 30px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 2px;
}

/* ============ DISPLAY ORDER ============== */
#displayOrder {
    min-height: 200px;
}